body {
    background-color: #f2f1ed;
}

.bg-yellow {
    background-color: #ffcc00;
}

.welcome {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.dropdown-item {
    background-color: #ffcc00;
    border-style: none;
}

.dropdown-menu {
    border-style: none;
    margin-top: 8px;
}

.dropdown-item:hover {
    background-color: #ffe638;
}

.form-control {
    width: 100%;
}

.form-group {
    width: 450px;
}

.formuserinsert {
    width: 40%;
    margin: 0 auto;
}