body {
    background-color: #bcc8db;
}

.header {
    background-color: #494e56;
    font-size: large;
    height: 50px;
    width: 100%;

    position: relative;
}

.headerbtn {
    background-color : #494e56;
    color: azure;
    border:none;
    text-decoration: none;
    padding:11px;
}

.headerbtn:hover {
    background-color : #1c1e21;
}

.divhbutton {
    position: relative;
    left: 5%;
}